.sidebar {
    position: fixed;
    width: 120px;
    background: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 0;
    left: 0;
    height: 100%;
    align-items: center;
    /* color: #fff; */
    padding: 70px 0;
  }
  .sidebar svg {
    width: 50px;
    height: 50px;
    font-size: 34px;
  }
  .sidebar svg:hover {
    background: #fff;
    color: #3939d9f2;
    border-radius: 8px;
    transition: 0.3s;
    cursor: pointer;
  }
  .sidebar .links {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .wrapper {
    display: none;
  }
  .wrapper .hamburger {
    display: none;
  }
  
  @media (max-width: 1208px) {
    .sidebar {
      background: #3939d9f2;
      left: -100%;
      transition: 0.3s;
    }
    .show {
      left: 0;
      transition: 0.3s;
    }
    .wrapper {
      display: block;
      position: fixed;
      top: 30px;
      left: 40px;
      font-size: 34px;
      background: #3939d9f2;
      color: #fff;
      height: 40px;
      width: 40px;
      border-radius: 8px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .wrapper .hamburger {
      display: block;
    }
  }
  @media (max-width: 485px) {
    .wrapper {
      left: 20px;
    }
    .show {
      width: 80px;
    }
  }